body {
  margin: 0 auto;
  background-color: #f0f0f0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: rgba(24, 24, 24, 0.924);
  overflow-y: scroll;
}
:root {
  --color1-purple: #7A5BFB;
  --color2-blue: #62EDF7;
}

section.header {
  width: 100%;
  text-align: center;
  background-color: var(--color1-purple);
  padding: 2px 0px;
  color: white;
}

section.home-container {
  grid-column: 2/-2;
  width: 100%;
}
section.home-container form {
  display: flex;
  gap: 10px;
  width: 100%;
  justify-content: space-between;
}

section.home-container input {
  padding: 10px;
  flex: 3;
  font-size: 1.2em;
  border: none;
  border-bottom: 2px solid gray;
}
section.home-container input:focus {
  border: none;
  border-bottom: 2px solid gray;
}
section.home-container button {
  padding: 10px;
  font-size: 1.2em;
  flex:2;
  cursor: pointer;
  border-radius: 5px;
  border: 2px solid gray;
}



#router-outlet {
  display: grid;
  grid-template-columns: repeat(12,1fr);
  width: 100%;
}

div#alert-ui {
  width: 30%;
  background-color: rgba(238, 69, 69, 0.411);
  padding: 1px 0px;
  position: absolute;
  top: 100%;
  left: 100%;
  padding: 10px 0px;
  font-size: 1.2em;
  opacity: 0;
  transition: opacity 0.4s;
  transform: translate(-100%, -110%);
  text-align: center;
  border-radius: 6px;
}
.toggle-show {
  opacity: 1!important;
}

@media (min-width: 960px) {

@keyframes spinning {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.spin {
  animation-name: spinning;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  /* linear | ease | ease-in | ease-out | ease-in-out */
  animation-timing-function: linear;
}
}