* {
  padding: 0px 10px;
  margin: 0;
}

body {
  margin: 0 auto;
  background-color: white;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: rgba(24, 24, 24, 0.966);
  overflow-y: scroll;
}
:root {
  --color1-purple: #7A5BFB;
  --color2-blue: #62EDF7;
}

section {
  padding: 20px 0px;
}

section.header {
  width: 100%;
  text-align: center;
  background-color: var(--color1-purple);
  padding: 2px 0px;
  color: white;
}

section.home-container {
  grid-column: 2/-2;
  width: 100%;
}
section.home-container form {
  padding: 20px 0px;
  display: flex;
  gap: 10px;
  width: 100%;
  justify-content: space-between;
}

section.home-container input {
  padding: 10px;
  flex: 3;
  font-size: 1.2em;
  border: none;
  border-bottom: 2px solid gray;
}
section.home-container input:focus {
  border: none;
  border-bottom: 2px solid gray;
}
section.home-container button {
  padding: 10px;
  font-size: 1.2em;
  flex:2;
  cursor: pointer;
  border-radius: 5px;
  border: 2px solid gray;
}



#router-outlet {
  display: grid;
  grid-template-columns: repeat(12,1fr);
  width: 100%;
}

div#alert-ui {
  width: 30%;
  background-color: rgba(238, 69, 69, 0.411);
  padding: 1px 0px;
  position: absolute;
  top: 100%;
  left: 100%;
  padding: 10px 0px;
  font-size: 1.2em;
  opacity: 0;
  transition: opacity 0.4s;
  transform: translate(-100%, -110%);
  text-align: center;
  border-radius: 6px;
}
.toggle-show {
  opacity: 1!important;
}

#def-tabs h3 {
  padding-bottom: 20px;
  font-size: 2em;
}

#meaning-tabs {
  padding: 0;
}
#meaning-tabs ul {
  list-style: none;
  display: flex;
  width: 100%;
  padding-left: 0;
}
#meaning-tabs ul li {
  cursor: pointer;
  flex: 1;
  padding: 10px 0px;
  text-align: center;
  background-color: var(--color2-blue);
  color: black;
  font-size: 2em;
  font-weight: 600;
  transition: filter 0.3s;
}

#meaning-tabs ul li:hover {
  filter: saturate(2);
  border-bottom: 1px solid black;
}

#definition-view {
  font-size: 1.2rem;
  border: solid var(--color2-blue) 2px;
  padding: 10px 10px;
}

#definition-view :nth-child(n) {
  padding: 10px 10px;
}



#definition-view h3 {
  font-size: 1.2em;
  font-weight: 200;
}

.separator {
  border-top: 1px solid #afafaf;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 10px;
}

.active {
  filter: saturate(2);
  border-bottom: 1px solid black;
}

@media (min-width: 960px) {

@keyframes spinning {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.spin {
  animation-name: spinning;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  /* linear | ease | ease-in | ease-out | ease-in-out */
  animation-timing-function: linear;
}
}